@CHARSET "UTF-8";

.content-wrapper, .right-side, .main-footer {
	margin-left: 0px;
}

@media (max-width: 767px) {
	.main-header .navbar {
		display: none;
	}
}

@media (max-width: 991px) {
	.content-header>.breadcrumb {
	    display: none;
	}
}

.width-20 {
	width: 20px;
}

.width-50 {
	width: 50px;
}

.width-80 {
	width: 80px;
}

.width-120 {
	width: 120px;
}

.width-200 {
	width: 200px;
}

#player_list_tbody > tr {
	cursor: pointer;
}

.table > tbody > tr.selected {
	background-color: #39CCCC;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.table > tbody > tr > td.text-center, .table > tbody > tr > th.text-center {
	text-align: center;
}

.table-body-wrapper {
	height: 258px; 
	overflow-y: scroll;
}

.player-list-wrapper {
	max-height: 755px; 
	overflow-y: auto;
}

.play-time {
	width: 200px;
}

.play-time > input {
	font-size: 20px;
	text-align: right;
}

#popuplayer_wrapper .popup_layer_item {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(204, 204, 204, 0.7);
}

#popuplayer_wrapper .popup_layer_item span {
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
}
